@layer localization.global {
  :scope {
    --background-alert-danger: var(--color-red-45);
    --foreground-alert-danger: var(--color-white);

    --background-alert-success: var(--color-green-45);
    --foreground-alert-success: var(--color-white);
  }
}
