@layer generation.emr {
  :scope {
    --color-emr-blue-05: #f2f6ff;
    --color-emr-blue-10: #deeaff;
    --color-emr-blue-15: #c5dafb;
    --color-emr-blue-20: #abcbf7;
    --color-emr-blue-25: #8db9ef;
    --color-emr-blue-30: #72abeb;
    --color-emr-blue-35: #5a9ada;
    --color-emr-blue-40: #438bca;
    --color-emr-blue-45: #337fbf;
    --color-emr-blue-50: #296fab;
    --color-emr-blue-55: #236197;
    --color-emr-blue-60: #195386;
    --color-emr-blue-65: #164776;
    --color-emr-blue-70: #123e68;
    --color-emr-blue-75: #0d3459;
    --color-emr-blue-80: #092f52;

    --color-emr-gray-05: #f5f5f5;
    --color-emr-gray-10: #e8e8e8;
    --color-emr-gray-15: #d6d6d6;
    --color-emr-gray-20: #c4c4c4;
    --color-emr-gray-25: #b0b0b0;
    --color-emr-gray-30: #9e9e9e;
    --color-emr-gray-35: #8c8c8c;
    --color-emr-gray-40: #787878;
    --color-emr-gray-45: #696969;
    --color-emr-gray-50: #595959;
    --color-emr-gray-55: #4d4d4d;
    --color-emr-gray-60: #454545;
    --color-emr-gray-65: #383838;
    --color-emr-gray-70: #2b2b2b;
    --color-emr-gray-75: #212121;
    --color-emr-gray-80: #171717;

    --color-emr-purple-05: #f7f5ff;
    --color-emr-purple-10: #eee6fc;
    --color-emr-purple-15: #e0d1f1;
    --color-emr-purple-20: #d6b9e6;
    --color-emr-purple-25: #cda2dc;
    --color-emr-purple-30: #c48cd4;
    --color-emr-purple-35: #b972bf;
    --color-emr-purple-40: #b35bb2;
    --color-emr-purple-45: #ab46a4;
    --color-emr-purple-50: #9c3790;
    --color-emr-purple-55: #902c7e;
    --color-emr-purple-60: #82236f;
    --color-emr-purple-65: #6f1e5f;
    --color-emr-purple-70: #5e1a54;
    --color-emr-purple-75: #4d174a;
    --color-emr-purple-80: #401442;

    --color-emr-green-05: #f7fad4;
    --color-emr-green-10: #ecf2ac;
    --color-emr-green-15: #dee784;
    --color-emr-green-20: #ced95f;
    --color-emr-green-25: #becc44;
    --color-emr-green-30: #b0bd31;
    --color-emr-green-35: #97b326;
    --color-emr-green-40: #77a422;
    --color-emr-green-45: #5f9920;
    --color-emr-green-50: #3e8a29;
    --color-emr-green-55: #1e782e;
    --color-emr-green-60: #006b34;
    --color-emr-green-65: #005b33;
    --color-emr-green-70: #004e30;
    --color-emr-green-75: #06422d;
    --color-emr-green-80: #0c382b;
    --color-emr-green-85: #102e26;
    --color-emr-green-90: #06120e;
    --color-emr-s-green-30: #45de85;
    --color-emr-s-green-45: #00bd5e;

    --color-emr-purple-10: #eee6fc;
    --color-emr-purple-15: #e0d1f1;
    --color-emr-purple-20: #d6b9e6;
    --color-emr-purple-25: #cda2dc;
    --color-emr-purple-30: #c48cd4;
    --color-emr-purple-35: #b972bf;
    --color-emr-purple-40: #b35bb2;
    --color-emr-purple-45: #ab46a4;
    --color-emr-purple-50: #9c3790;
    --color-emr-purple-55: #902c7e;
    --color-emr-purple-60: #82236f;
    --color-emr-purple-65: #6f1e5f;
    --color-emr-purple-70: #5e1a54;
    --color-emr-purple-75: #4d174a;
    --color-emr-purple-80: #401442;
    --color-emr-purple-85: #331138;
    --color-emr-purple-90: #160718;
    --color-emr-purple-05: #f7f5ff;

    --color-emr-s-red-20: #ffa799;
    --color-emr-s-red-30: #ff8370;
    --color-emr-s-red-40: #ff6d59;
    --color-emr-s-red-45: #fa5a4b;
    --color-emr-s-red-50: #f2463d;
    --color-emr-s-red-60: #de3835;
    --color-emr-s-red-70: #c2231f;

    --color-blue-00: unset;
    --color-blue-02: unset;
    --color-blue-04: unset;
    --color-blue-05: unset;
    --color-blue-06: unset;
    --color-blue-08: unset;
    --color-blue-10: var(--color-emr-blue-15);
    --color-blue-12: unset;
    --color-blue-14: unset;
    --color-blue-15: unset;
    --color-blue-16: unset;
    --color-blue-18: unset;
    --color-blue-20: unset;
    --color-blue-22: unset;
    --color-blue-24: unset;
    --color-blue-25: var(--color-emr-blue-50);
    --color-blue-26: unset;
    --color-blue-28: unset;
    --color-blue-30: unset;
    --color-blue-32: unset;
    --color-blue-34: unset;
    --color-blue-35: unset;
    --color-blue-36: unset;
    --color-blue-38: unset;
    --color-blue-40: unset;
    --color-blue-42: unset;
    --color-blue-44: unset;
    --color-blue-45: unset;
    --color-blue-46: unset;
    --color-blue-48: unset;
    --color-blue-50: unset;

    --color-gray-00: unset;
    --color-gray-02: unset;
    --color-gray-04: var(--color-emr-gray-05);
    --color-gray-05: var(--color-emr-gray-05);
    --color-gray-06: unset;
    --color-gray-08: unset;
    --color-gray-10: var(--color-emr-gray-20);
    --color-gray-12: unset;
    --color-gray-14: unset;
    --color-gray-15: unset;
    --color-gray-16: unset;
    --color-gray-18: unset;
    --color-gray-20: unset;
    --color-gray-22: unset;
    --color-gray-24: unset;
    --color-gray-25: unset;
    --color-gray-26: unset;
    --color-gray-28: unset;
    --color-gray-30: unset;
    --color-gray-32: unset;
    --color-gray-34: unset;
    --color-gray-35: unset;
    --color-gray-36: unset;
    --color-gray-38: unset;
    --color-gray-40: unset;
    --color-gray-42: unset;
    --color-gray-44: unset;
    --color-gray-45: var(--color-emr-gray-70);
    --color-gray-46: unset;
    --color-gray-48: unset;
    --color-gray-50: var(--color-emr-gray-75);

    --color-purple-00: var(--color-emr-purple-10);
    --color-purple-02: unset;
    --color-purple-04: unset;
    --color-purple-05: unset;
    --color-purple-06: unset;
    --color-purple-08: unset;
    --color-purple-10: unset;
    --color-purple-12: unset;
    --color-purple-14: unset;
    --color-purple-15: unset;
    --color-purple-16: unset;
    --color-purple-18: unset;
    --color-purple-20: unset;
    --color-purple-22: unset;
    --color-purple-24: unset;
    --color-purple-25: var(--color-emr-purple-45);
    --color-purple-26: unset;
    --color-purple-28: unset;
    --color-purple-30: unset;
    --color-purple-32: unset;
    --color-purple-34: unset;
    --color-purple-35: unset;
    --color-purple-36: unset;
    --color-purple-38: unset;
    --color-purple-40: unset;
    --color-purple-42: unset;
    --color-purple-44: unset;
    --color-purple-45: unset;
    --color-purple-46: unset;
    --color-purple-48: unset;
    --color-purple-50: unset;

    --color-red-00: unset;
    --color-red-02: unset;
    --color-red-04: unset;
    --color-red-05: unset;
    --color-red-06: unset;
    --color-red-08: unset;
    --color-red-10: unset;
    --color-red-12: unset;
    --color-red-14: unset;
    --color-red-15: unset;
    --color-red-16: unset;
    --color-red-18: unset;
    --color-red-20: unset;
    --color-red-22: unset;
    --color-red-24: unset;
    --color-red-25: unset;
    --color-red-26: unset;
    --color-red-28: unset;
    --color-red-30: unset;
    --color-red-32: unset;
    --color-red-34: unset;
    --color-red-35: unset;
    --color-red-36: unset;
    --color-red-38: unset;
    --color-red-40: unset;
    --color-red-42: unset;
    --color-red-44: unset;
    --color-red-45: var(--color-emr-s-red-70);
    --color-red-46: unset;
    --color-red-48: unset;
    --color-red-50: unset;

    --color-green-00: unset;
    --color-green-02: unset;
    --color-green-04: unset;
    --color-green-05: unset;
    --color-green-06: unset;
    --color-green-08: unset;
    --color-green-10: unset;
    --color-green-12: unset;
    --color-green-14: unset;
    --color-green-15: unset;
    --color-green-16: unset;
    --color-green-18: unset;
    --color-green-20: unset;
    --color-green-22: unset;
    --color-green-24: unset;
    --color-green-25: unset;
    --color-green-26: unset;
    --color-green-28: unset;
    --color-green-30: unset;
    --color-green-32: unset;
    --color-green-34: unset;
    --color-green-35: unset;
    --color-green-36: unset;
    --color-green-38: unset;
    --color-green-40: unset;
    --color-green-42: unset;
    --color-green-44: unset;
    --color-green-45: var(--color-emr-s-green-45);
    --color-green-46: unset;
    --color-green-48: unset;
    --color-green-50: unset;
  }
}
